body{
  font-family: 'Josefin Sans', sans-serif;
}

#darkbtn:hover{
  background-image: none;
  background-color:#616161;
  border: 1px solid #616161;
}

#lightbtn:hover{
  background-image: none;
  background-color:#616161;
  border: 1px solid #616161;
}


/* navbar  */
#navbtn{
  border-radius: 0px;
  color: black;
}

.navbar {
  background-color: #2D2D2D;
}
.navbar a {
  color: white;
}
.navbar li {
  font-size: 16px;
  margin-right: 40px;
}
.navbar a:hover {
  color: #cfcfcf;
}

.fa-bars{
  color: white;
}

#navbtn:hover{
  background-image: none;
  background-color: #cfcfcf;
  border: 1px solid #cfcfcf;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



/* banner 1 */
.box1 {
  background-color: #f5f5f5;
  padding: 30px;
  margin-bottom: 50px;
}

/*carousel*/
.carousel-caption {
  top: 30%;
  bottom: auto;
}
.carousel-caption h5{
  font-size: 64px; font-weight: 700; text-align:center; color:white;
}
.carousel-caption h3{
  font-size: 64px; font-weight: 700; text-align:center; color: black; 
}

.carousel-caption p{
  font-size: 24px; font-weight: 700; text-align:center; color:white;
}

.carousel-caption h4{
  font-size: 24px; font-weight: 700; text-align:center;  color: black; 
}



/* news */
#newscard {
  -webkit-box-shadow: 0px 1px 5px 7px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 1px 5px 7px rgba(0,0,0,0.11);
  box-shadow: 0px 1px 5px 7px rgba(0,0,0,0.11);
}

/* Contact Us banner */
#contactbanner{
  background-image: url(img/aesthetic-clinic-contactbanner.png);
  background-size:cover;
  position: relative;;
}

/*Contact Us Form*/
input[type=text] {
  background-color:#f5f5f5 ;
  border: none;
  border-bottom: 2px solid grey;
}

input[type=email] {
  background-color:#f5f5f5 ;
  border: none;
  border-bottom: 2px solid grey;
}

#contactus{
  background-color:#f5f5f5 ;
  border: none;
  border-bottom: 2px solid grey;
}
#contactus::placeholder{
  text-align: left;
  transform: translateY(75px);
}

/* Contact Us Map */
#map {
  width: 100%;
  height: 100%;
}

/*Appointment banner*/
#aptbanner{
  background-image: url(img/aesthetic-clinic-appointment-banner.png);
  background-size:cover;
  position: relative;
}

/*treatment banner*/
#treatmentbanner{
  background-image: url(img/treatmentbanner.png);
  background-size:cover;
  position: relative;
}

/*programme banner*/
#programmebanner{
  background-image: url(img/aesthetic-clinic-programmebanner.png);
  background-size:cover;
  position: relative;
}

/*saggy skin banner*/
#skinbanner{
  background-image: url(img/skinbanner.png);
  background-size:cover;
  position: relative;
}

/*doc banner*/
#docbanner{
  background-image: url(img/aesthetic-clinic-doctor-quote-banner.png);
  background-size:cover;
  position: relative;
}

/*vip banner*/
#vipbanner{
  background-image: url(img/aesthetic-clinic-vipbanner.png);
  background-size:cover;
  position: relative;
}


/* accordion */
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

button::after {
  position: absolute;
  z-index: 100;
  right: 16px;
}

/*Testimonial*/
#testimonials .card {
  height: 20rem;
}
.fa-star{
  color:#2D2D2D;
}



/*footer*/
.col li{
  text-decoration: none;
  display: inline-block;
  margin-right: 5px;
  padding-right: 5px;
}

body::before {
  display: block;
  content: '';
  height: 60px;
}

/*animations*/
#blog .card:hover {
  /* moves along y-axis by 5 px */
  transition: transform 0.7s;
  transform: translateY(-5px);
}

#face img:hover{
  transition: transform 0.7s;
  transform: translateY(-5px);
}

#body img:hover{
  transition: transform 0.7s;
  transform: translateY(-5px);
}

#programmes img:hover{
  transition: transform 0.7s;
  transform: translateY(-7px);
}

#skintreatments img:hover{
  transition: transform 0.7s;
  transform: translateY(-7px);
}


@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* lineup class and keyframes */
.lineUp {
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}



@media (min-width: 769px){
  #contactbanner{
    min-height: 50vh; 
  }
  #map {
    width: 75%;
    height: 60%;
  }
  #aptbanner{
    min-height: 40vh;
  }
  #treatmentbanner{
    min-height: 50vh;
  }
  #programmebanner{
    min-height: 60vh;
  }
  #skinbanner{
    min-height: 50vh;
  }
  #docbanner{
    min-height: 50vh;
  }
  #vipbanner{
    min-height: 50vh;
  }
}

@media (max-width: 1173px){
  #qual{
    width: 25px;
  }
  #mem{
    width: 25px;
  }
}
@media (max-width: 768px){
  #contactform{
    margin-top: 300px;
  }
  #contactbanner{
    min-height: 10vh;
    background-repeat: no-repeat;
  }
  #qual{
    width: 25px;
  }
  #mem{
    width: 25px;
  }
}

@media (max-width: 495px){
  #qual{
    width: 20px;
  }
  #mem{
    width: 20px;
  }
}  

@media (max-width: 375px){
  #contactform{
    margin-top: 400px;
  }
  #qual{
    width: 40px;
  }
  #mem{
    width: 40px;
  }
}

@media (max-width: 1393px){
  #docimg{
    margin-bottom: 170px;
  }
}

@media (max-width: 767px){
  #docimg{
    margin-bottom: 20px;
  }
}

@media (max-width:840px) {
  /*carousel*/
.carousel-caption h5 {
  font-size: 20px;
}
.carousel-caption h3 {
  font-size: 20px;
}

.carousel-caption p {
  font-size: 15px;
}


.carousel-caption h4 {
  font-size: 20px;
}
.carousel-caption a{
  display: none;
}
}

@media (max-width:560px) {
  .carousel-item img{
    min-height: 40vh;
  }
  #map {
    width: 75%;
    height:55%;
  }
}